h1 {
    font-size: 50;
    font-family: 'Times New Roman', Times, serif;
    color:blueviolet;
}
video {
    width: max-content;
}

nav{
    width: 100%;
    ul{
        background-color: cadetblue;
        display: inline-block;
        width: 50px;
    }
}